<% unless current_user.is_a? GuestUser%>
  <%= form_for @comment, url: '#' do |f| %>
    <div class="form-group">
      <h5><%= f.label "New Comment" %></h5>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="form-group">

      <%= f.submit "Post Comment", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>