
<div class="col-sm-8 blog-main">
  <h1>Topics List</h1>
  <div>
    <ul>
    <% @topics.each do |topic| %>
      <li><%= link_to topic.title, topic_path(topic) %></li>
    <% end %>
    </ul>
  </div>
</div>