<h1>Portfolio</p>
<% @portfolio_items.each do |item| %>
<h3><%= item.title %></h3>
<h4><%= item.subtitle %></h4>
<p><%= item.body %></p>
<%= image_tag item.thumb_image if !item.thumb_image.nil? %>
<% end %>