<!-- Application Nav -->
<div class="masthead clearfix">
  <div class="inner">

    <h2 class="masthead-brand"> Xin Li</h2>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper "nav-link", "span" %>
      <%= login_helper("nav-link") %>
    </nav>
  </div>
</div>