<!-- Blog Nav -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3 blog-nav">

  <div class="container">
    <%= link_to 'Xin Li', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNav"> 
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="conllapse navbar-collapse" id="navbarNav">
      <%= nav_helper "nav-link", "span" %>
      <%= login_helper("nav-link") %>
    </div>
  </div>
</nav>