<footer class="text-muted">
  <div class="container">  
    <p class="float-right">
      <a href="#">Back to top</a>    
    </p>  
    <p><%= render "shared/application_footer" %></p> 
  </div>
</footer>