<!-- Poerfolio Nav -->
<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h2>About me</h2>
        <p>I am a full stack web developer who just graduated from the Coding Dojo in Burbank, CA knowledgeable in Python, MEAN, and Ruby. My past experiences in business and marketing industries have helped me develop problem-solving skills, multi-tasking abilities, and attention to detail. </p>
        <p>Now, I am seeking an opportunity where I can use my skills to make a new project or handle existing project.</p>
      </div>
      <div class="col-md-4 py-4">
        <h4>Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper "text-white", "li" %>
          <li><%= login_helper "text-white" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="row">
    <%= image_tag 'favicons/girl.png' %>
    <%= link_to 'Xin Li', root_path, class: "navbar-brand ml-2 mt-3" %>
  </div>
  <div class="container d-flex justify-content-between">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
