
<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "portfolio.png", alt: "portfolio image", height: 300, width: 300, class: "portfolio" %>
  </div>
  <div class="col-md-8">
    <p>I am a full stack web developer who just graduated from the Coding Dojo in Burbank, CA knowledgeable in Python, MEAN, and Ruby. </p>
    <p>My past experiences in business and marketing industries have helped me develop problem-solving skills, multi-tasking abilities, and attention to detail. </p>
    <p>Now, I am seeking an opportunity where I can use my skills to make a new project or handle existing project.</p>
  </div>

</div>


