
<div class="app-card-container">
  <div class="card">

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "person.jpg", alt: "portfolio image", width: 300, class: "profile-img" %>
      </div>
      <div class="col-md-8">
        <h1>I Am Full Stack Web Developer ^_^</h1>
        <hr>
        <p>I am a full stack web developer who just graduated from the Coding Dojo in Burbank, CA knowledgeable in Python, MEAN, and Ruby. </p>
        <p>My past experiences in business and marketing industries have helped me develop problem-solving skills, multi-tasking abilities, and attention to detail. </p>
        <p>Now, I am seeking an opportunity where I can use my skills to make a new project or handle existing project.</p>
      </div>

    </div>
  </div>
</div>


