<div class="app-card-container">
  <div class="card">
    <h1>Would you like to hire me?</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>
        <p>582 West Huntington Dr, Arcadia, CA 91007</p>
        <h3>Phone</h3>
        <p><%= number_to_phone "4156964912" %></p>
        <h3>Email</h3>
        <a href="mailto:sindyxin1@gmail.com?subject=PortfolioContact" "eamil me">sindyxin1@gmail.com</a>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91649.44745357717!2d-118.16759616922127!3d34.11422658132653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2dbbb7c8a5b41%3A0xbe6f7a5cbd476e68!2s582+W+Huntington+Dr%2C+Arcadia%2C+CA+91007!5e0!3m2!1sen!2sus!4v1527664349430" width="450" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>