
<div class="app-card-container">
  <div class="card">
    <div class="inner cover">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "welcome.jpg", alt: "welcme image", width: "100%", class: "profile-img" %>
        </div>
        <div class="col-md-8">
        <h1 class="cover-heading">Welcome.</h1>
        <p class="lead">I am a lover of building user-centered applications, sleek designs, beautiful creativity.</p>
        <p class="lead">I enjoy using logic to solve problems and express my creativity through web development.</p>
        <p class="lead">Check out my blog articles, I will share some my experiences or some cool knowledges.</p>
        <p class="lead">Click the button to know more about me</p>
        <p class="lead">
          <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </div>
    </div>
  </div>
</div>


   






